
body {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15pt;
}

a {
    color: #a00;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-color: #aaa;
    border-bottom-width: 1px;
}

a:hover {
    color: #f55;
	border-bottom-color: #f55;
}

ul {
    list-style-type: square;
}

.prose {
    font-family: 'Georgia', serif;
    font-size: 14pt;
    line-height: 1.1;
}

.sidebar-li {
    padding: 5px;
}

.sidebar-ul {
    list-style-type: none;
}

.sidebar {
    padding-top: 60px;
    position: sticky;
    top: 0px;
}

.section-padding {
    padding: 30px;
}

#wrapper {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr 6fr 3fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#faceimg {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: auto;
}

#name {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

#email {
    text-align: center;
    font-size: 13pt;
    padding: 10px;
}

#links {
    text-align: center;
    padding: 10px;
}
