body {
	font-family: 'Lucida Sans';
	font-size: 13pt;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
}

#header {
	text-align: center;
	font-size: 15pt;
}

.smaller {
	font-size: 10pt;
}

.small {
	font-size: 11pt;
}

a {
	text-decoration: underline;
	color: black;
}

.section-header {
	font-size: 14pt;
}

.section {
	margin-left: 15px;
}

ul {
	margin: 0px;
}