@font-face {
    font-family: 'Inconsolata';
    src: url('/theme/Inconsolata.otf');
}

body {
    font-family: 'Inconsolata', monospace;
    font-size: 13pt;
    line-height: 1.1;
    background-color: #f7f7f7;
    color: #444;
    padding: 15px;
}

.grey { color: #888; }

.light-grey { color: #bbb; }

.header {
    font-size: 35pt;
    text-align: center;
}

.navbar {
    width: 700px;
    display: block;
    margin: 0px auto;
    padding: 10px;
    text-align: center;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list > li {
    width: content-box;
    display: inline;
    padding-right: 40px;
}

.section-header {
    width: 650px;
    margin: 0px auto;
    display: block;
    padding: 20px 10px 0px 10px;
}

a {
    text-decoration: none;
    color: rgb(80, 100, 140);
    border-bottom: 1px dotted rgb(60, 80, 120);
}

a:hover {
    color: rgb(120, 140, 180);
    border-bottom: 1px solid rgb(100, 120, 160);
}

.post-list {
    width: 700px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.post-list > ul {
    list-style-type: none;
}

.post-list > ul > li {
    padding: 2px 0px;
}

.post-date {
    display: inline-block;
    width: 175px;
}

.post {
    padding: 10px;
}

.post-content {
    padding: 10px;
}

#mixpanel-logo {
    display: inline-block;
    float: right;
}
