<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
    <title>./dotslash {{ page.cmd }}</title>
  </head>
  <script type="text/javascript" src="/scripts/mixpanel.min.js"></script>
  <body>
    <h1 class="header">
      <span class="light-grey">$</span> <span class="grey">
        <strong>./dotslash</strong>
      </span> {{ page.cmd }}
    </h1>
    <div class="navbar">
      <ul class="nav-list">
        <li><a href="/">home</a></li>
        <li><a href="/about.html">about</a></li>
        <li><a href="http://twitter.com/ajaymadhusudan">twitter</a></li>
        <li><a href="http://github.com/AjayMT">github</a></li>
      </ul>
    </div>
    {{ content }}
    <script type="text/javascript">
      if (document.URL.indexOf("localhost") == -1) mixpanel.track("Page view");
    </script>
    <div id="mixpanel-logo">
      <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
    </div>
  </body>
</html>
